<a href="https://colab.research.google.com/github/kan5/Tabular-Playground-Series---Jul-2021/blob/main/Tabular_Playground_Series_Jul_2021_Hypotheses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Tabular Playground Series - Jul 2021**

#### Import

In [1]:
import pandas as pd

In [8]:
train_df = pd.read_csv('train.csv')
train_df.date_time = pd.to_datetime(train_df.date_time)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7111 entries, 0 to 7110
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date_time               7111 non-null   datetime64[ns]
 1   deg_C                   7111 non-null   float64
 2   relative_humidity       7111 non-null   float64
 3   absolute_humidity       7111 non-null   float64
 4   sensor_1                7111 non-null   float64
 5   sensor_2                7111 non-null   float64
 6   sensor_3                7111 non-null   float64
 7   sensor_4                7111 non-null   float64
 8   sensor_5                7111 non-null   float64
 9   target_carbon_monoxide  7111 non-null   float64
 10  target_benzene          7111 non-null   float64
 11  target_nitrogen_oxides  7111 non-null   float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 666.8 KB

In [9]:
test_df = pd.read_csv('test.csv')
test_df.date_time = pd.to_datetime(test_df.date_time)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2247 entries, 0 to 2246
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          2247 non-null   datetime64[ns]
 1   deg_C              2247 non-null   float64
 2   relative_humidity  2247 non-null   float64
 3   absolute_humidity  2247 non-null   float64
 4   sensor_1           2247 non-null   float64
 5   sensor_2           2247 non-null   float64
 6   sensor_3           2247 non-null   float64
 7   sensor_4           2247 non-null   float64
 8   sensor_5           2247 non-null   float64
dtypes: datetime64[ns](1), float64(8)
memory usage: 158.1 KB

In [11]:
submission_example = pd.read_csv('sample_submission.csv')
submission_example.date_time = pd.to_datetime(submission_example.date_time)
submission_example.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2247 entries, 0 to 2246
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date_time               2247 non-null   datetime64[ns]
 1   target_carbon_monoxide  2247 non-null   float64
 2   target_benzene          2247 non-null   float64
 3   target_nitrogen_oxides  2247 non-null   float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 70.3 KB

#### Visual